.splash {
  background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(https://images.unsplash.com/photo-1449034446853-66c86144b0ad?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=2560&h=1440&fit=crop&ixid=eyJhcHBfaWQiOjF9);
  width: 100vw;
  height: calc(100vh);
  // opacity: 0.4;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  vertical-align: center;
  position: fixed;
  top: 0;
  // text-shadow: 1px 1px rgb(176, 176, 177);
  z-index: -1;
}

.splash-tagline {
  margin-top: 121.875px;
  font-weight: 900;
  font-size: 42px;
}

.splash>h2 {
  font-weight: 600;
  font-size: 24px;
}

.splash-signup {
  font-weight: 900;
  font-size: 20px;
  background: white;
  color: #212124;
  border-radius: 3px;
  text-decoration: none;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 36px;
  padding-left: 36px;
  text-shadow: none;
  z-index: 4;
}

.splash-signup:hover {
  color: #B9B9B9;
  transition: .5s;
}