/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body, html {
  height: 100%;
  margin: 0;
  /* background-image: url(https://images.unsplash.com/photo-1450149632596-3ef25a62011a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bc4d990379577e86ca11609d7af3000a&auto=format&fit=crop&w=2816&q=80); */
  /* Full height */
  font-family: 'Montserrat', sans-serif;
  height: 100%; 
  /* width: 100%; */
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.splash {
  /* width: 800px;
  height: 800px; */
  background-image: url(https://images.unsplash.com/photo-1450149632596-3ef25a62011a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bc4d990379577e86ca11609d7af3000a&auto=format&fit=crop&w=2816&q=80);
  /* Full height */
  /* height: 100%; 
  width: 100%; */
  height: calc(100vh);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  vertical-align: center;
}

.splash-tagline {
  margin-top: 0px;
}

.splash-signup {
  font-weight: 900;
  font-size: 20px;
  background: white;
  color: black;
  border-radius: 3px;
  text-decoration: none;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 36px;
  padding-left: 36px;
  transition: .5s;
}

.splash-signup:hover {
  color: grey;
}

.logout-button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 16px;
  background: white;
  color: black;
  border-radius: 3px;
  text-decoration: none;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 18px;
  padding-left: 18px;
}

.title {
  font-weight: bolder;
  color: white;
  padding: 10px;
}

.navbar-header {
  /* height: 50px; */
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px;
  background: rgba(48, 48, 48, 0.247);
}

.navbar-header a {
  text-decoration: none;
}

.navbar-greeting {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: white;
}

.login {
  background-color: black;
}

.profile-pic {
  height: 30px;
  width: 30px;
}

.navbar-login {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.signup {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: 900;
  background: white;
  color: black;
  border-radius: 3px;
  text-decoration: none;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 18px;
  padding-left: 18px;
  transition: .5s;
}

.signup:hover {
  color: grey;
}

.login-link {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: 900;
  color: white;
  text-decoration: none;
}

.auth-form {
  border: 1px solid black;
  background: rgba(48, 48, 48, 0.247);
  text-align: center;
  width: 300px;
  display: flex;
  justify-content: center;
  color: white;
}

.session-submit {
  font-weight: 500;
  font-size: 16px;
  background: white;
  color: black;
  border-radius: 3px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 18px;
  padding-left: 18px;
}

.login-input {
  width: 200px;
  padding: 5px 5px;
  margin: 5px;
}

.login-form-box {
  font-family: 'Montserrat', sans-serif;
}