/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, p, form,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
 }
 
 ul {
   list-style: none;
 }
 
 img {
   display: block;
   width: 100%;
   height: auto;
 }
 */
 
 button,
 input[type="submit"] {
   cursor: pointer;
 }

 /*----------------------------------------------------------------------------------------*/

 body, html {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  z-index: -10;
}

.app {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.splash {
  background-image: url(https://images.unsplash.com/photo-1450149632596-3ef25a62011a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bc4d990379577e86ca11609d7af3000a&auto=format&fit=crop&w=2816&q=80);
  /* height: 100%;  */
  width: 100vw;
  height: calc(100vh);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  vertical-align: center;
  position: fixed;
  top: 0;
  z-index: -1;
  
}

.splash-tagline {
  margin-top: 121.875px;
}

.splash-signup {
  font-weight: 900;
  font-size: 20px;
  background: white;
  color: black;
  border-radius: 3px;
  text-decoration: none;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 36px;
  padding-left: 36px;
  z-index: 4;
}

.splash-signup:hover {
  color: grey;
  transition: .5s;
}

.logout-button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 16px;
  background: white;
  color: black;
  border-radius: 3px;
  text-decoration: none;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 18px;
  padding-left: 18px;
}

.title {
  font-weight: bolder;
  color: white;
  padding-left: 10px;
  margin: 0;
}

.navbar-header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(48, 48, 48, 0.247);
}

.navbar-header a {
  text-decoration: none;
}

.navbar-greeting {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: white;
  padding-right: 10px;
}

.login {
  background-color: black;
  padding-top: 0px;
  padding-bottom: 0px;
}

.profile-pic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.navbar-login {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 10px;
}

.signup {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: 900;
  background: white;
  color: black;
  border-radius: 3px;
  text-decoration: none;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 18px;
  padding-left: 18px;
}

.signup:hover {
  color: grey;
  transition: .5s;
}

.login-link {
  display: flex;
  font-weight: 900;
  color: white;
  text-decoration: none;
}

.login-link:hover {
  color: rgb(190, 190, 190);
  transition: .5s;
}

.auth-wrapper {
  background-image: url(https://images.unsplash.com/photo-1450149632596-3ef25a62011a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bc4d990379577e86ca11609d7af3000a&auto=format&fit=crop&w=2816&q=80);
  /* Full height */
  /* height: 100%;  */
  width: 100vw;
  height: calc(100vh);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  vertical-align: center;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
}

.auth-form {
  border: 1px solid black;
  background: rgba(48, 48, 48, 0.247);
  border-radius: 3px;
  width: 300px;
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 82px;
}

.session-submit {
  font-weight: 500;
  font-size: 16px;
  background: white;
  color: black;
  border-radius: 3px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 18px;
  padding-left: 18px;
}

.session-submit:hover {
  color: grey;
  transition: .5s;
}

.demo-login {
  font-weight: 500;
  font-size: 16px;
  background: white;
  color: black;
  border-radius: 3px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 18px;
  padding-left: 18px;
}

.demo-login:hover {
  color: grey;
  transition: .5s;
}

.login-input {
  width: 200px;
  padding: 5px 5px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 3px;
  /* background: white; */
}

/* ---- Photos ---- */

.photos-index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photos-index {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
  height: 300px;
  width: 300px;
  padding: 10px;
}

.photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

.photo-show {
  padding-top: 20px;
}

.photo-show-profile {
  margin-bottom: 0px;
}

.photo-show-profile-pic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.photo-show-title {
  font-weight: bolder;
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 0px;
}

.photo-show-description {
  margin-top: 0px;
  margin-bottom: 0px;
}

.photo-show-index-link {
  color: black;
}

.photo-show-index-link:hover {
  color: grey;
  transition: .5s;
}

.change-photo-container {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 0px;
}

.edit-photo {
  font-weight: 500;
  font-size: 16px;
  background: white;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 18px;
  padding-left: 18px;
  text-decoration: none;
}

.edit-photo:hover {
  color: grey;
  transition: .5s;
}

.delete-photo {
  font-weight: 500;
  font-size: 16px;
  background: white;
  color: black;
  border-radius: 3px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 18px;
  padding-left: 18px;
}

.delete-photo:hover {
  color: grey;
  transition: .5s;
}

.change-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 52px;
}

.change-form {
  justify-content: center;
}

.change-form-container-input {
  width: 300px;
  padding: 5px 5px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 3px;
}

.change-form-submit {
  font-weight: 500;
  font-size: 16px;
  background: white;
  color: black;
  border-radius: 3px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 18px;
  padding-left: 18px;
}


.change-form-submit:hover {
  color: grey;
  transition: .5s;
}

