/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, p, form,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
   color: #212124;
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
 } */
 
 /* ul {
   list-style: none;
 }
 
 img {
   display: block;
   width: 100%;
   height: auto;
 } */


textarea,
input[type=text] {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Proxima Nova', sans-serif;
}
 
 button,
 input[type="submit"] {
   cursor: pointer;
 }

 /*----------------------------------------------------------------------------------------*/

 body, html {
  margin: 0;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Proxima Nova', sans-serif;
  color: #212124;
  /* background: #F3F5F6; */
  z-index: -10;
}

/* .app {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.edit-icon {
  background-image: url("../images/edit-48.png");
}

.fa-arrow-circle-left {
  height: 30px;
  width: 30px;
  padding: 15px;
  color: white;
}

.album-show-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F3F5F6;
}

.album-show-container {
  /* width: 60vw;
  display: flex;
  justify-content: space-between;
  align-items: center; */
}

.album-show {
  display: grid;
  grid-template-columns: auto auto auto;
}


.fa-pencil-alt {
  height: 30px;
  width: 30px;
  padding: 15px;
  color: white;
}

.fa-trash-alt {
  height: 30px;
  width: 30px;
  padding: 15px;
  color: white;
}

.fa-trash-alt:hover {
  cursor: pointer;
}

.change-photo-container {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 0px;
}

.delete-photo:hover {
  cursor: pointer;
}

.change-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 52px;
  
  border: 1px solid #212124;
  background: rgba(180, 180, 180, 0.247);
  border-radius: 3px;
  color: #212124;

  margin-left: 32vw;
  margin-right: 40vw;
  width: 500px;
}

.change-form {
  /* justify-content: center; */
  /* align-items: center; */
  padding-bottom: 30px;
}

.change-form-container-input {
  width: 300px;
  padding: 5px 5px;
  margin: 5px;
  border: 1px solid #212124;
  border-radius: 3px;
}

.change-form-submit {
  font-weight: 500;
  font-size: 16px;
  background: white;
  color: #212124;
  border-radius: 3px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 18px;
  padding-left: 18px;
}


.change-form-submit:hover {
  color: #B9B9B9;
  transition: .5s;
}