<!DOCTYPE html>
<html>
  <head>
    <title>aperture</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <%# <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/api/splash.scss"> %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
